@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: white;
    overflow-x: hidden;
}

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-primary;
    }
}